# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build files
/dist
/build

# IDE config files
.idea/
.vscode/

# Test coverage
coverage/

# Other ignored files or directories can be added here as needed
